
@{
    ViewBag.Title = "Personeller";
}

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Personeller</h3>
            <p class="text-muted m-b-30">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-5">
                        <button id="sil" class="btn btn-block btn-info">Sil</button>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-5">
                        <a href="@Url.Action("Ekle","Personel")" class="btn btn-block btn-info">Ekle</a>
                    </div>
                </div>
            </p>
            <div class="table-responsive">
                <table id="tablo"></table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/Content/Css/duzenlenen.css" rel="stylesheet" />
    <script src="~/Scripts/personel.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        Personeller();
    });
    </script>
}

